
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Inconsolata&family=Montserrat&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');


.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
main section img {
    box-sizing: border-box;
}
nav a {
    padding: 35px;
}
nav a, 
#hero-msg h1, #hero-msg h4,
.button-box,
main section {
    text-align: center;
}
#hero-img {
    width: 100%;
}

#background {
    height: 725px;
    background-color: #FFCC70;
    grid-column: 1/11;
    grid-row: 4/9;
}

header {
    background-color: #22668D;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}

body {
    background-color: #e3e0e0;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

h2 {
    margin: 0;
}

nav a {
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    font-family: 'Montserrat', sans-serif;
}

nav a:hover {
    background-color: #FFCC70;
    color: #000;
}

.home-title {
    color: #000;
    font-family: 'Bad Script', cursive;
    font-size: 2.5em;
    margin-top: 10px;
    color: #ffcc70;

}

h4 {
    color: #000;
}
#hero-msg h4 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: .8em;
    line-height: 1.5em;
    font-weight: 200;
    padding: 0 50px;
    color: white;
    
}
.book, .join {
    background-color: #FFCC70;
    color: #000;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book {
    box-shadow: 5px 5px 10px #6f7364;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.mountains{
    margin: 100px 0;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.book:hover , .join:hover {
    color: #fff;
    background-color: #22668D;
}

.msg {
    background-color: #8ECDDD;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

.msg p {
    color: #000;
    font-family: 'Roboto Flex', sans-serif;
    font-size: .8em;
    font-weight: 300;
    padding-bottom: 15px;
    line-height: 1.5;
}

.rivers-card h2, .camping-card h2, .rapids-card h2 {
    font-family: 'Montserrat', sans-serif;
}
.card-img {
    border: 10px solid #FFCC70;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

footer {
    background-color: #22668D;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #FFCC70;
}
footer .social img {
    padding-top: 15px;
}

/*  THE STARTING CSS OF THE RAFTING PAGE ---------------------------> */

.rafting-top-image {
    margin: 0;
    width: 100%;
}
.raft-adventure img, .raft-decent img {
    width: 100%;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
}
#section-header {
  text-align: center;
  grid-column: 2/17;
  grid-row: 1/2;
  font-family: 'Roboto Flex', sans-serif;
  padding: 3rem 0;
  font-size: 90%;
  line-height: 1.4;
}
.section-grid h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
}

.raft-decent{
    grid-column: 2/9;
    grid-row: 4/8;
}
.raft-decent-text {
    grid-column: 10/17;
    grid-row: 4/8;
    text-align: justify;
}
.raft-adventure-text p, .raft-decent-text p, .bottom-section p {
    line-height: 1.6;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 80%;
}

.raft-adventure {
    grid-column: 10/17;
    grid-row: 10/14;
    margin-top: 10rem;
}
.raft-adventure-text {
    grid-column: 2/9;
    grid-row: 10/14;
    text-align: justify;
    padding-top: 10rem;
}
.bottom-section {
    grid-column: 4/15;
    grid-row: 14/16; 
    padding-top: 5rem;
}

.section-grid h4 {
    color: #22668D;
    font-weight: bolder;
} 

.raft-adventure, .raft-decent {
    border: 5px solid #FFCC70;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364; 
}

/* START CSS CODE OF "CONTACT US PAGE"*/
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

/* START OF @MEDIA CSS CODE............... */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    .section-grid {
        display: grid;
        grid-template-columns: repeat(17, 1fr);
    }
    .raft-decent{
        grid-column: 2/17;
        grid-row: 2/3;
    }
    .raft-decent-text {
        grid-column: 2/17;
        grid-row: 3/4;
    }
    
    .raft-adventure {
        grid-column: 2/17;
        grid-row: 4/5;
        margin-top: 5rem;
    }
    .raft-adventure-text {
        grid-column: 2/17;
        grid-row: 5/6;
        padding-top: 0;
    }
    .raft-adventure-text p, .raft-decent-text p, .bottom-section p, #section-header p, #section-header h3 {
        line-height: 1.6;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 70%;
    }
    .bottom-section p {
        display: none;
    }
}

@media screen and (max-width: 420px){
    .nav a {
        font-size: 1rem;
        padding: 5px;
    }
    .mountains {
        display: none;
    }
    footer p, footer p a {
        font-size: 70%;
    }
    .section-grid {
        display: grid;
        grid-template-columns: repeat(17, 1fr);
    }
    .raft-decent{
        grid-column: 2/17;
     
    }
    .raft-decent-text {
        grid-column: 2/17;
    }
    
    .raft-adventure {
        grid-column: 2/17;
        margin-top: 5rem;
        
    }
    .raft-adventure-text {
        grid-column: 2/17;
        padding-top: 0;
    }
    .raft-adventure-text p, .raft-decent-text p, .bottom-section p, #section-header p, #section-header h3 {
        line-height: 1.6;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 50%;
    }
    .bottom-section p {
        display: none;
    }

}

